<h1 class="header-title">CoreAnalysis</h1>

<div class="header-enter-block">
    <ng-container *ngIf="isLogged$ | async">
        <button *ngIf="isAdmin$ | async" (click)="openModal(false)">
            <span class="header-text">Регистрация</span>
        </button>
        <div class="header-transparent-button">
            <span class="header-text">{{ username$ | async }}</span>
            <button class="header-out-image" (click)="logOut()">
                <svg width="20" height="20">
                    <use xlink:href="assets/logout.svg#logout"></use>
                </svg>
            </button>
        </div>
    </ng-container>

    <button *ngIf="!(isLogged$ | async)" class="header-transparent-button" (click)="openModal(true)">
        <span class="header-text">Вход</span>
    </button>
</div>
