@import '../../styles/mixins';

:host {
  padding: 10px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size: 20px;
  letter-spacing: 2px;
  color: var(--text-02);

  &:hover {
    cursor: pointer;
  }
}

.header-enter-block {
  display: flex;
  align-items: center;
}

.header-text {
  font-size: 16px;
  color: var(--text-02);
}

.header-transparent-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0 0 10px;
  height: 40px;
  min-width: 150px;
  border: var(--border-05);

  &:hover {
    cursor: pointer;
    background: var(--bg-13);
    border: var(--border-09) !important;
  }

  &:last-of-type {
    border-left: none;
    border-radius: 0 10px 10px 0;
  }

  &.single {
    border: var(--border-05);
    border-radius: 10px;
  }
}

.header-out-icon {
  color: rgba(80, 52, 52, 0.8);
  border-radius: 4px !important;

  @include icon();

  &.hidden {
    display: none;
  }
}

.header-settings-icon {
  color: rgba(80, 52, 52, 0.8);
  border-radius: 10px !important;
  border: var(--border-05);
  height: 26px !important;
  width: 26px !important;
  margin-right: 8px;

  @include icon();
}
