<h1 class="header-title">CoreAnalysis</h1>

<div class="header-enter-block">
    <ng-container *ngIf="isLogged$ | async">
        <button class="header-settings-icon" *ngIf="isAdmin$ | async" (click)="openModal(false)">
            <svg width="20" height="20">
                <use xlink:href="assets/settings.svg#settings"></use>
            </svg>
        </button>
        <div class="header-transparent-button" (click)="toggleOutIcon()">
            <span class="header-text">{{ username$ | async }}</span>
            <button class="header-out-icon" [class.hidden]="!showOutImage" (click)="logOut()">
                <svg width="20" height="20">
                    <use xlink:href="assets/logout.svg#logout"></use>
                </svg>
            </button>
        </div>
    </ng-container>

    <button *ngIf="!(isLogged$ | async)" class="header-transparent-button" (click)="openModal(true)">
        <span class="header-text">Вход</span>
    </button>
</div>
