@import '../../styles/mixins';

:host {
  margin: 100px 200px !important;
  flex-direction: column;

  @include page-alignment();
}

.report-page-wrap {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-column-gap: 32px;
}

.report-page-card-wrap {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-column-gap: 20px;
  align-items: center;
  position: relative;
  margin-bottom: 30px;

  &.view-only {
    grid-template-columns: unset;
  }
}

.report-page-icon {
  margin-bottom: 4px;

  @include icon();

  &:nth-child(2),
  &:nth-child(3) {
    display: none;
  }

  button {
    display: flex;
  }
}

.report-page-card {
  padding: 20px !important;

  @include card();
}

.report-page-card-image {
  width: 200px;
  border-radius: 4px;
}

.report-page-cards-wrap {
  display: flex;
  flex-direction: column;
}

.report-page-card-field {
  height: 100% !important;
  display: grid;
  grid-template-columns: 1fr 40px;
  padding-left: 28px;

  @include field();

  &.editing {
    border: var(--border-07);

    .report-page-icon {
      &:first-of-type {
        opacity: 0.6;
        pointer-events: none;
      }

      &:nth-child(2),
      &:nth-child(3) {
        display: flex;
      }
    }

    .report-page-card-row svg {
      display: flex;

      &:hover {
        color: var(--text-03);
      }
    }

    .report-page-segment-range .report-page-card-input {
      pointer-events: unset;
    }
  }
}

.report-page-segment-range {
  margin-bottom: 8px;
  border-bottom: var(--border-06);
  padding-bottom: 8px;
  width: fit-content;

  .report-page-card-input {
    width: 55px;
    margin: 0 8px 0 0;
    padding: 4px 6px;
    text-align: center;
    border-radius: 12px;
    pointer-events: none;
    border: var(--border-06);
  }
}

.report-page-card-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  svg {
    display: none;
    margin-left: 4px;
    color: var(--bg-09);
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.report-page-card-input {
  padding: 4px 12px;
  letter-spacing: 2px;
  margin-left: 8px;
  color: var(--text-03);
}

.report-page-button-wrap {
  display: grid;
  justify-items: end;
  margin-top: 40px;

  .report-page-card-input {
    margin-left: 4px;
    padding-left: 0;
  }
}

.report-page-button {
  padding: 0 20px;
  margin-top: 12px;
  align-self: end;

  @include button();

  &.empty-segment {
    background: none;
    height: 40px;
  }
}

.loading-wrap {
  @include loading-wrap();
}

.report-page-empty-segment {
  display: grid;
  grid-template-columns: 100px 40px;
  justify-content: end;
  text-align: center;
  align-items: center;
}
