<div *ngIf="segments" class="report-page-wrap">
    <img [src]="report['photo_url']" class="report-page-card-image">
    <div class="report-page-cards-wrap">
        <div *ngFor="let segment of segments" class="report-page-card-wrap">
            <div class="report-page-icon dark-icon" (click)="deleteSegment(segment)">
                <button>
                    <svg width="16" height="16">
                        <use xlink:href="assets/delete.svg#delete"></use>
                    </svg>
                </button>
            </div>
            <div class="report-page-card">
                <div class="report-page-card-field" [class.editing]="segment['editing'] === true">
                    <div>
                        <div class="report-page-segment-range">
                            <span>Сегмент: </span>
                            <input [value]="getSegmentOffset(segment['offset'])" class="report-page-card-input"
                                (change)="changeOffset($event, segment)" (keyup)="handleOffset($event)">
                            <span>% - </span>
                            <span [textContent]="getSegmentLength(segment['offset'], segment['len'])"></span>
                            <span>%</span>
                        </div>
                        <div *ngFor="let property of segment['properties']" class="report-page-card-row">
                            <span>{{ property.title }}:</span>
                            <div class="report-page-card-input">{{ property.value.title }}</div>
                            <button (click)="deleteProperty(segment, property)">
                                <svg width="12" height="12">
                                    <use xlink:href="assets/cross.svg#cross"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div>
                        <div class="report-page-icon light-icon" (click)="editSegment(segment)">
                            <svg width="24" height="24">
                                <use xlink:href="assets/edit.svg#edit"></use>
                            </svg>
                        </div>
                        <div class="report-page-icon light-icon" (click)="openAddPropertyDialog(segment)">
                            <svg width="26" height="26">
                                <use xlink:href="assets/add.svg#add"></use>
                            </svg>
                        </div>
                        <div class="report-page-icon light-icon" (click)="saveSegment(segment)">
                            <svg width="20" height="17">
                                <use xlink:href="assets/check.svg#check"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="report-page-empty-segment">
            Добавить сегмент
            <button class="report-page-icon light-icon" (click)="addEmptySegment()">
                <svg width="26" height="26">
                    <use xlink:href="assets/add.svg#add"></use>
                </svg>
            </button>
        </div>
        <div class="report-page-button-wrap">
            <div>
                <span>Название файла: </span>
                <span class="report-page-card-input">{{report['photo_name']}}</span>
            </div>
            <button class="report-page-button" [class.disabled]="reportIsReady !== 0" (click)="generateFile()">
                <span>Сгенерировать отчет</span>
            </button>
        </div>
    </div>
</div>
<div *ngIf="!segments" class="loading-wrap">
    <span>Loading</span>
    <img src="assets/loading.png" alt="">
</div>
