:root {
  --bg-01: #F6EAEA;
  --bg-02: #FEFAFA;
  --bg-03: #FBF6F6;
  --bg-04: rgba(80, 52, 52, 0.33);
  --bg-05: #C4C4C4;
  --bg-06: #CBA2A2;
  --bg-07: #D2D2D2;
  --bg-08: #957070;
  --bg-09: rgba(80, 52, 52, 0.8);
  --bg-10: rgba(0, 0, 0, 0.2);
  --bg-11: rgba(0, 0, 0, 0.1);

  --border-01: 2px solid rgba(80, 52, 52, 0.55);
  --border-02: 1px solid rgba(104, 102, 102, 0.5);
  --border-03: 1px solid rgba(255, 255, 255, 1);
  --border-04: 2px solid rgba(0, 0, 0, 0.2);
  --border-05: 1px solid rgba(80, 52, 52, 0.55);
  --border-06: 1px solid rgba(80, 52, 52, 0.15);
  --border-07: 1px dashed rgba(80, 52, 52, 0.55);

  --text-01: #000000;
  --text-02: #FFFFFF;
  --text-03: #503434;
  --text-04: rgba(0, 0, 0, 0.34);

  --shadow-01: 0px 10px 50px 20px rgba(0, 0, 0, 0.1);
  --shadow-02: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  --shadow-03: 0px 0px 10px 2px rgba(80, 52, 52, 0.25);

  --gradinent-01: linear-gradient(180.04deg, rgba(80, 52, 52, 0.5) 0.04%, rgba(165, 102, 102, 0) 75.7%);
}
