.cdk-overlay-container {
  left: 0;
  width: fit-content;
  height: fit-content;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.cdk-global-overlay-wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.mat-dialog-container {
  box-shadow: 0 10px 50px 20000px rgb(0 0 0 / 20%);
  padding: 0 !important;
  margin-top: 230px;
  border-radius: 16px !important;
}
