@import '../../styles/mixins';

:host {
  position: relative;
  margin: 0 !important;

  @include page-alignment();
}

.registration-page-card {
  width: 420px;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 28px;

  @include card();
}

.registration-page-title {
  font-size: 20px;
  text-align: center;
}

.registration-page-subtitle {
  font-size: 16px;
  margin-bottom: 4px;
}

.registration-page-input {
  width: 100%;
  letter-spacing: 3px;
  color: var(--text-03);

  @include field();
}

.registration-page-button-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.registration-page-button {
  width: 75%;

  @include button();
}

.registration-page-close-icon {
  @include close-icon();
}

.registration-page-input-wrap {
  position: relative;
}

.registration-page-icon {
  position: absolute;
  right: 16px;
  top: 14px;
  opacity: 0.5;

  &.open-eye {
    right: 10px;
    top: 10px;
  }

  &.toggle-visibility {
    display: none;
  }
}

.registration-page-toggle-group {
  border-radius: 10px;
  height: fit-content;
  border: var(--border-02);

  &::ng-deep {
    .mat-button-toggle-focus-overlay {
      display: none;
    }

    .mat-button-toggle {
      border-radius: 10px;
      padding: 4px;
      width: 100%;

      &.mat-button-toggle-checked {
        color: var(--text-03);
        background: var(--bg-11);
      }
    }
  }
}

.registration-page-error {
  margin-top: 12px;
  color: var(--text-05);
  font-weight: bold;
}
