<button class="registration-page-close-icon" (click)="closeDialog()">
    <svg width="20" height="20">
        <use xlink:href="assets/cross-large.svg#cross-large"></use>
    </svg>
</button>
<div class="registration-page-card">
    <span class="registration-page-title">Регистрация</span>
    <div>
        <p class="registration-page-subtitle">Введите логин</p>
        <input class="field registration-page-input">
    </div>
    <div>
        <p class="registration-page-subtitle">Введите пароль</p>
        <input class="field registration-page-input" type="password">
    </div>
    <div>
        <p class="registration-page-subtitle">Повторите пароль</p>
        <input class="field registration-page-input" type="password">
    </div>
    <button class="registration-page-button">
        <span>Зарегистрироваться</span>
    </button>
</div>
