<button class="registration-page-close-icon" (click)="closeDialog()">
    <svg width="20" height="20">
        <use xlink:href="assets/cross-large.svg#cross-large"></use>
    </svg>
</button>
<div class="registration-page-card gray-card">
    <span class="registration-page-title" [textContent]="!id ? 'Регистрация' : 'Редактирование'"></span>
    <div>
        <p class="registration-page-subtitle">Введите логин</p>
        <input class="in-gray-card registration-page-input" [formControl]="loginControl">
    </div>
    <div>
        <p class="registration-page-subtitle">Введите пароль</p>
        <div class="registration-page-input-wrap">
            <input #passwordInput
                   [formControl]="passwordControl"
                   class="in-gray-card registration-page-input"
                   type="password">
            <button (click)="togglePasswordView($event)">
                <svg width="20" height="20" class="registration-page-icon">
                    <use xlink:href="assets/close-eye.svg#close-eye"></use>
                </svg>
                <svg width="32" height="28" class="registration-page-icon open-eye toggle-visibility">
                    <use xlink:href="assets/open-eye.svg#open-eye"></use>
                </svg>
            </button>
        </div>
    </div>
    <mat-button-toggle-group [formControl]="adminControl" class="registration-page-toggle-group">
        <mat-button-toggle value="true">Администратор</mat-button-toggle>
        <mat-button-toggle value="false">Пользователь</mat-button-toggle>
    </mat-button-toggle-group>
    <div class="registration-page-button-wrap">
        <button class="registration-page-button"
                [class.disabled]="!loginControl.value || !passwordControl.value || !adminControl.value"
                (click)="finish()">
            <span [textContent]="!id ? 'Зарегистрировать' : 'Изменить'"></span>
        </button>
        <p *ngIf="error" class="registration-page-error">{{error}}</p>
    </div>
</div>
