@import '../../styles/mixins';

:host {
  position: relative;

  @include page-alignment();
}

.enter-page-card {
  width: 420px;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 40px;

  @include card();
}

.enter-page-title {
  font-size: 20px;
  text-align: center;
}

.enter-page-subtitle {
  font-size: 16px;
  margin-bottom: 4px;
}

.enter-page-input-wrap {
  position: relative;
}

.enter-page-input {
  width: 100%;
  letter-spacing: 3px;
  color: var(--text-03);

  @include field();
}

.enter-page-icon {
  position: absolute;
  right: 16px;
  top: 14px;
  opacity: 0.5;

  &.open-eye {
    right: 10px;
    top: 10px;
  }

  &.toggle-visibility {
    display: none;
  }
}

.enter-page-button-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.enter-page-button {
  width: 50%;

  @include button();
}

.enter-page-close-icon {
  @include close-icon();
}

.enter-page-error {
  margin-top: 12px;
  color: var(--text-05);
  font-weight: bold;
}
