<button class="enter-page-close-icon" (click)="closeDialog()">
    <svg width="20" height="20">
        <use xlink:href="assets/cross-large.svg#cross-large"></use>
    </svg>
</button>
<div class="enter-page-card gray-card">
    <span class="enter-page-title">Вход</span>
    <div>
        <p class="enter-page-subtitle">Логин</p>
        <input class="in-gray-card enter-page-input" [formControl]="loginControl">
    </div>
    <div>
        <p class="enter-page-subtitle">Пароль</p>
        <div class="enter-page-input-wrap">
            <input #passwordInput
                   [formControl]="passwordControl"
                   class="in-gray-card enter-page-input"
                   type="password">
            <button (click)="togglePasswordView($event)">
                <svg width="20" height="20" class="enter-page-icon">
                    <use xlink:href="assets/close-eye.svg#close-eye"></use>
                </svg>
                <svg width="32" height="28" class="enter-page-icon open-eye toggle-visibility">
                    <use xlink:href="assets/open-eye.svg#open-eye"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="enter-page-button-wrap">
        <button class="enter-page-button"
                [class.disabled]="!loginControl.value || !passwordControl.value"
                (click)="authorize()">
            <img *ngIf="entering" src="assets/loading.png" class="enter-dialog-loading-image" alt="">
            <span>Войти</span>
        </button>
        <p *ngIf="error" class="enter-page-error">{{error}}</p>
    </div>
</div>
