@import '../../styles/mixins';

:host {
  @include page-alignment();
}

.download-page-card {
  width: 75%;

  @include card();
}

.download-page-top {
  display: grid;
  grid-template-columns: 6fr 4fr;
}

.download-page-instruction-block {
  height: fit-content !important;

  @include field();
}

.download-page-instruction-title {
  font-size: 22px;
}

.download-page-buttons-block {
  display: grid;
  justify-items: end;
  grid-row-gap: 8px;
}

.download-page-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65%;

  @include button();
}

.download-page-bottom {
  position: relative;
  display: flex;
  margin-top: 32px;
  height: 120px;
  padding: 10px;
  border-radius: 10px;
  background: var(--bg-04);
}

.download-page-image-wrap {
  position: relative;
  width: 98px;
  height: 98px;
  margin-right: 16px;
  padding: 6px;
  border-radius: 8px;
  background: var(--bg-03);
}

.download-page-image {
  width: 86px;
  height: 86px;
}

.download-page-delete-icon {
  position: absolute;
  bottom: -24px;
  right: calc(50% - 17px);
  width: 20px !important;
  height: 20px !important;

  @include icon();
}

.download-page-arrow-icon {
  position: absolute;
  right: -14px;
  bottom: calc(50% - 22px);

  @include icon();
}

.download-page-hide {
  display: none;
}

.download-page-toggle-group {
  border-radius: 10px;
  height: fit-content;
  border: var(--border-02);

  &::ng-deep {
    .mat-button-toggle-focus-overlay {
      display: none;
    }

    .mat-button-toggle {
      border-radius: 10px;
      padding: 4px;

      &.mat-button-toggle-checked {
        color: var(--text-03);
        background: var(--bg-11);
      }
    }
  }
}

.download-page-loading-image {
  width: 24px;
  height: 24px;
  margin: -2px 8px 0 0;
}
