<div class="download-page-card">
    <div class="download-page-top">
        <div class="download-page-instruction-block">
            <span class="download-page-instruction-title">Инструкция</span>
            <ul>
                <li>загрузите фотографию</li>
                <li>нажмите обработать</li>
                <li>отредактируйте отчет при необходимости</li>
                <li>сгенерируйте отчет</li>
            </ul>
        </div>
        <div class="download-page-buttons-block">
            <button class="download-page-button"
                    [class.disabled]="images.length !== 0"
                    (click)="addImage()">
                <span>Добавить фото</span>
            </button>
            <mat-button-toggle-group [formControl]="typeControl" class="download-page-toggle-group">
                <mat-button-toggle value="sun">Дневной свет</mat-button-toggle>
                <mat-button-toggle value="ultraviolet">Ультрафиолет</mat-button-toggle>
            </mat-button-toggle-group>
            <input #file type="file" class="download-page-hide" [formControl]="fileControl" accept="image/jpeg">
            <button routerLink="report" class="download-page-button"
                    (click)="sendImage()"
                    [class.disabled]="images.length === 0 || !typeControl.value || !(isLogged$ | async)">
                <span>Обработать</span>
            </button>
        </div>
    </div>
    <div class="download-page-bottom">
        <div *ngFor="let id of idRange" class="download-page-image-wrap">
            <img [src]="imagesView[id] | safeUrl" alt="" class="download-page-image">
            <button class="download-page-delete-icon dark-icon" (click)="deleteImage(id)">
                <svg width="16" height="16">
                    <use xlink:href="assets/delete.svg#delete"></use>
                </svg>
            </button>
        </div>
<!--        <div class="download-page-arrow-icon dark-icon">-->
<!--            <svg width="20" height="20">-->
<!--                <use xlink:href="assets/arrow-right.svg#arrow-right"></use>-->
<!--            </svg>-->
<!--        </div>-->
    </div>
</div>
